
@{
    ViewData["Title"] = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="container-main-header">Đăng nhập</h3>
<div class="form-DN">
    <input type="text" name="name" placeholder="Username" class="form-input">
    <input type="password" name="password" placeholder="Password" class="form-input">
    <input type="checkbox" name="rememberpassword" class="form-checkbox"><label>  Remmeber password</label>
    <button class="form-btn">Đăng nhập</button>
</div>