
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="container-main-header">SẢN PHẨM TIÊU BIỂU</h3>
<div class="row">
    <div class="col l-3">
        <div class="product">
            <img src="~/Content/asset/img/hoa1.jpg" alt="" class="product-img">
            <h3 class="product-title">Sinh nhật 1</h3>
            <div class="product-price">Giá: <span>300,000đ</span></div>
            <button class="product-btn">Chọn mua</button>
        </div>
    </div>
    <div class="col l-3">
        <div class="product">
            <img src="~/Content/asset/img/hoa2.jpg" alt="" class="product-img">
            <h3 class="product-title">Sinh nhật 2</h3>
            <div class="product-price">Giá: <span>500,000đ</span></div>
            <button class="product-btn">Chọn mua</button>
        </div>
    </div>
    <div class="col l-3">
        <div class="product">
            <img src="~/Content/asset/img/hoa3.jpg" alt="" class="product-img">
            <h3 class="product-title">Sinh nhật 3</h3>
            <div class="product-price">Giá: <span>500,000đ</span></div>
            <button class="product-btn">Chọn mua</button>
        </div>
    </div>
    <div class="col l-3">
        <div class="product">
            <img src="~/Content/asset/img/hoa4.jpg" alt="" class="product-img">
            <h3 class="product-title">Sinh nhật 4</h3>
            <div class="product-price">Giá: <span>900,000đ</span></div>
            <button class="product-btn">Chọn mua</button>
        </div>
    </div>
    <div class="col l-3">
        <div class="product">
            <img src="~/Content/asset/img/hoa5.jpg" alt="" class="product-img">
            <h3 class="product-title">Sinh nhật 5</h3>
            <div class="product-price">Giá: <span>1,400,000đ</span></div>
            <button class="product-btn">Chọn mua</button>
        </div>
    </div>
    <div class="col l-3">
        <div class="product">
            <img src="~/Content/asset/img/hoa6.jpg" alt="" class="product-img">
            <h3 class="product-title">Sinh nhật 6</h3>
            <div class="product-price">Giá: <span>700,000đ</span></div>
            <button class="product-btn">Chọn mua</button>
        </div>
    </div>
</div>

