@model Booking_vivu.Models.loginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Share/KhachHang_layout.cshtml";
}

<div class="container">
    <div class="grid wide">
        <div class="slide"><img src="~/assest/img/slide.jpg" alt="DU LỊCH VIỆT NAM"></div>
        <div class="container__box-search-wrap">
            <div class="container__box-search">
                <div class="box-search__header">
                    <h3>Khám phá nơi bạn đến?</h3>
                    <p>Khám phá dễ dàng. Hãy khám phá thế giới của bạn.</p>
                </div>
                <div class="box-search__search">
                    <div class="btn box-search__search-item">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <div id="search-place">Tất cả vị trí</div>
                        <i class="fa-solid fa-caret-down"></i>
                        <div class="box-search__search-list">
                            <ul>
                                <li class="box-search__search-list-item">Tất cả vị trí</li>
                                <li class="box-search__search-list-item">Vũng Tàu</li>
                                <li class="box-search__search-list-item">Tp.HCM</li>
                                <li class="box-search__search-list-item">Tất cả vị trí</li>
                                <li class="box-search__search-list-item">Tất cả vị trí</li>
                                <li class="box-search__search-list-item">Tất cả vị trí</li>
                                <li class="box-search__search-list-item">Vũng Tàu</li>
                                <li class="box-search__search-list-item">Tp.HCM</li>
                                <li class="box-search__search-list-item">Tất cả vị trí</li>
                                <li class="box-search__search-list-item">Tất cả vị trí</li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn box-search__search-item">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <div class="search-price">Tất cả mức giá</div>
                        <i class="fa-solid fa-caret-down"></i>
                        <div class="box-search__search-list">
                            <ul>
                                <li class="box-search__search-list-item">Dưới 1tr</li>
                                <li class="box-search__search-list-item">Trên 1tr</li>
                                <li class="box-search__search-list-item">Trên 3tr</li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn box-search__search-btn">Tìm kiếm</div>
                </div>
            </div>
        </div>

        <div class="container__product">
            <h3 class="header-h3">
                <i class="fa-solid fa-quote-left"></i>
                Tour trọn gói
            </h3>
            <div class="row">
                <div class="col l-4">
                    <div class="product-info">
                        <a href="" class="product-info-link">
                            <div class="product-img" style="background-image: url('https://file1.dangcongsan.vn/data/0/images/2024/04/11/upload_673/hue-imperial-gate-1024x683-754-17016811818591749547652.png');"></div>
                            <div class="product-body">
                                <h3 class="product-header">Cố Đô Huế</h3>
                                <p class="product-desc"></p>
                                <div class="product-price-wrap">
                                    <div class="product-price"><span>1,000,000</span>đ / Khách</div>
                                    <button class="product-book-btn btn">Đặt vé</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col l-4">
                    <div class="product-info product-all">
                        <a href="#">
                            Xem tất cả
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="container__contact" id="contact">
            <div class="container__contact-wrap">
                <h3 class="header-h3">
                    <i class="fa-solid fa-quote-left"></i>
                    Liên hệ với chúng tôi
                </h3>
                <div class="contact__form">
                    <div class="contact__form-left">
                        <textarea placeholder="Tên của bạn" class="input-text" rows="1"></textarea>
                        <textarea placeholder="Số điện thoại" class="input-text" rows="1"></textarea>
                        <div class="contact__form-btn contact__form-btn-sent">
                            <div class="btn">
                                Gửi
                                <i class="fa-solid fa-paper-plane" style="margin-left: 4px;"></i>
                            </div>
                            <div class="btn btn-sent">
                                Đã gửi
                                <i class="fa-solid fa-check" style="margin-left: 4px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="contact__form-right">
                        <textarea placeholder="Tin nhắn" class="input-text" style="height: 260px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" style="display:flex;">
    <div class="modal__overlay"></div>
    <div class="modal__body">
        @if (ViewBag.kq == 0)
        {
            <script>alert("Sai mật khẩu hoặc số điện thoại")</script>
        }
        @if (ViewBag.tb != null)
        {
            <script>alert("@ViewBag.tb")</script>
        }
        <div class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng nhập</h3>
                    <span class="auth-form__switch--btn">Đăng ký</span>
                </div>
                <form class="auth-form__form" method="post">
                    <div class="auth-form__group">
                        <input type="Text" class="auth-form__input" name="PhoneNumber" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" name="Password" placeholder="Nhập mật khẩu">
                    </div>

                    <!-- Liên kết trợ giúp -->
                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="#" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                            <span class="auth-form__help-separate"></span>
                            <a href="#" class="auth-form__help-link">Cần trợ giúp?</a>
                        </div>
                    </div>

                    <!-- Nút điều khiển -->
                    <div class="auth-form__controls">
                        <button class="btn1 auth-form__controls-back btn--normal">@Html.ActionLink("TRỞ LẠI","TrangChu")</button>
                        <button type="submit" class="btn1 btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/assest/js/main.js">
</script>

