@model IEnumerable<DaiLyBanNuoc.Models.LoaiSanPham>
@{
    int? maloai = TempData["loai"] as int?;
}

<li class="category-item">
    <a href="/Home/ChiTietSP?i=1" class="category-item__link">Tất cả</a>
</li>
@foreach (var item in Model)
{
    if (maloai == null)
    {
        <li class="category-item">
            <a href="/Home/LocSP_Loai?maloai=@item.MaLoaiSP" class="category-item__link">@item.TenLoaiSP</a>
        </li>
    }
    else
    {
        if (item.MaLoaiSP == maloai)
        {
            <li class="category-item category-item--active">
                <a href="/Home/LocSP_Loai?maloai=@item.MaLoaiSP" class="category-item__link">@item.TenLoaiSP</a>
            </li>
        }
        else
        {
            <li class="category-item">
                <a href="/Home/LocSP_Loai?maloai=@item.MaLoaiSP" class="category-item__link">@item.TenLoaiSP</a>
            </li>
        }
    }
}


